@model ConsumoApiProjetoFinal.Models.Evento

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocalEvento.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocalEvento.Name)
        </dd>
      

        @foreach(var item in Model.Ingressos)
        {
        <dt class="col-sm-2"> Ingressos:
        </dt>
        <dd class="col-sm-10">
           @item.Pessoa.Nome |
           <strong>Tipo Ingresso: </strong>@item.TipoIngresso.Tipo
        </dd>
           
        }
    </dl>
</div>
<br />
<div>
    @Html.ActionLink("Editar", "Edit", new { @Model.Id}) |
    <br />
    <a asp-action="Index">Voltar</a>
</div>
